body{
    margin: 12px;
}

.chat{
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
}

.msg{
    color:white;
    background-color: blue;
    padding:8px;
    border-radius: 10px;
}